In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import joblib
from TaxiFareModel.data import get_data, clean_data

In [3]:
{
  "pickup_datetime": "2013-07-06 17:18:00 UTC",
  "pickup_longitude": "-73.950655",
  "pickup_latitude": "40.783282",
  "dropoff_longitude": "-73.984365",
  "dropoff_latitude": "40.769802",
  "passenger_count": "1"
}

{'pickup_datetime': '2013-07-06 17:18:00 UTC',
 'pickup_longitude': '-73.950655',
 'pickup_latitude': '40.783282',
 'dropoff_longitude': '-73.984365',
 'dropoff_latitude': '40.769802',
 'passenger_count': '1'}

In [4]:
data = pd.DataFrame({
    "key" : [""],
  "pickup_datetime": ["2013-07-06 17:18:00 UTC"],
  "pickup_longitude": ["-73.950655"],
  "pickup_latitude": ["40.783282"],
  "dropoff_longitude": ["-73.984365"],
  "dropoff_latitude": ["40.769802"],
  "passenger_count": ["1"]
})

In [5]:
model = joblib.load('model.joblib')
model.predict(data)[0]

6.790641596184825

In [12]:
df = get_data()

In [13]:
df = clean_data(df)

In [14]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
key,,,,,,,
2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [8]:
data.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,,2013-07-06 17:18:00 UTC,-73.950655,40.783282,-73.984365,40.769802,1

In [15]:
X = df.drop(columns='fare_amount')

In [16]:
X.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
key,,,,,,
2009-06-15 17:26:21.0000001,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
2010-01-05 16:52:16.0000002,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2011-08-18 00:35:00.00000049,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
2012-04-21 04:30:42.0000001,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
2010-03-09 07:51:00.000000135,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1